.metadata {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  will-change: transform;
  overflow-y: scroll;
  font-family: monospace;
  @include font-14;

  li {
    display: block;
  }
  
  label {
    color: $white;
    display: block;
    width: 100%;
    @extend %clearfix;

    span {
      display: block;
      float: left;
      width: 20%;
      height: 20px;
      line-height: 20px;
    }
  }

  input[type='text'] {
    color: $gray;
    background-color: transparent;
    border: none;
    display: block;
    float: left;
    width: 80%;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .copy-url {
    position: relative;
    height: 20px;
    display: block;
    
    .target {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
      z-index: 2;
    }
  }

  .controls {
    @include font-20;
    margin-top: 20px;
    
    a {
      display: inline-block;
      color: $white;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .are-you-sure {
      display: inline-block;
      margin-left: 20px;
      @include font-14;

      a {
        margin-left: 10px;
      }
    }
  }
}
