.metadata {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  will-change: transform;
  overflow-y: scroll;

  li {
    display: block;
  }
  
  label {
    color: $purple;

    span {
      margin-right: 5px;
    }
  }

  input[type='text'] {
    color: $white;
    background-color: transparent;
    border: none;
  }

  .copy-url {
    position: relative;
    height: 20px;
    display: block;
    
    .target {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      color: $purple;
      z-index: 2;
    }
  }

  .controls {
    @include font-20;
    margin-top: 20px;
    
    a {
      display: inline-block;
      color: $purple;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .are-you-sure {
      display: inline-block;
      margin-left: 20px;
      @include font-14;

      a {
        margin-left: 10px;
      }
    }
  }
}
