@import 'normalize';

$background-gray: #343435;
$black: #000000;
$blue-gray: #182a2b;
$blue-gray-50-percent: rgba(24, 42, 43, 0.5);
$green: #29fe2f;
$progress-bar-gray: #939c9d;
$red: #ff0000;
$white: #ffffff;
$info-background-gray: #615e5e;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-14 {
  font-size: 14px;
  line-height: 18px;
}

@mixin font-16 {
  font-size: 16px;
  line-height: 20px;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  @include font-14;
  color: $white;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $white;

  &:hover,
  &:active {
    color: $green;
  }
}

.error {
  color: $red;
}

.dropzone,
.app {
  overflow-y: hidden;
  background-color: $background-gray;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.veil {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: $blue-gray-50-percent;
  top: 0;
  left: 0;
}

.dropzone-veil {
  z-index: 10;
  border: 2px dashed $green;

  .dropzone-active & {
    display: block;
  }

  > div {
    font-size: 48px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -27px;
    position: absolute;
  }
}

.page {
  position: relative;
  transition: opacity 200ms;
  opacity: 0;
  z-index: 2;
  height: 100%;

  &.initially-scrolled {
    transition: opacity 200ms;
    opacity: 1;
  }
}

.video-item {
  position: absolute;
  display: block;
  z-index: 3;

  .video {
    z-index: 3;
    position: relative;
  }

  .controls {
    z-index: 1;
    display: block;
    position: absolute;
    transition: bottom 100ms;
    right: 0;
    bottom: 0;
    height: 18px;

    a {
      text-transform: lowercase;
      margin-left: 10px;
    }
  }

  &:hover {

    .controls {
      transition: bottom 100ms;
      bottom: -18px;
    }
  }

  &.most-recently-touched {
    z-index: 4;
  }

  .info-edit {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: $info-background-gray;
    padding: 10px;

    li {
      @extend %clearfix;

      label {
        float: left;
        display: block;
        color: $green;
        width: 83px;
        margin-top: 3px;
      }

      .value {
        color: $white;
        float: left;
      }

      input {
        display: block;
        float: left;
        width: 190px;
      }
    }
  }
}

video {
  width: 100%; 
  height: 100%; 
}

.uploads {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 300px;
  display: block;
  @extend clearfix;
  z-index: 5;
}

.upload-item {
  width: 400px;
  height: 300px;
  display: block;
  float: left;
  background-color: $blue-gray;
  padding: 5px;

  .fields {
    height: 236px;
  }

  .progress-bar {
    height: 14px;
    background-color: $progress-bar-gray;
    position: relative;

    .progress {
      background-color: $green;
      position: absolute;
      height: 14px;
      top: 0;
      left: 0;
      transition: width 100ms;
    }
  }

  .name-status,
  .cancel-save {
    height: 20px;
    line-height: 20px;
    @extend %clearfix;
  }

  .name-mime {
    float: left;

    .mime {
      margin-left: 4px;
    }
  }

  .status {
    float: right;
  }

  .cancel {
    float: left;
    font-size: 18px;
    margin-top: 1px;
  }

  .save {
    float: right;
    background-color: $green;
    color: $blue-gray;
    border: none;
    outline: none;
    text-transform: lowercase;
    height: 18px;
    line-height: 18px;
    padding: 0 6px 0 6px;
    margin-top: 2px;
  }
}

.login-username-logout {
  position: fixed;
  bottom: 10px;
  left: 40px;
  z-index: 5;
}

.login {
  position: fixed;
  background-color: $white;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  z-index: 7;
  display: block;
  margin-top: -150px;
  margin-left: -200px;
  color: $black;
  @include font-16;

  .closer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $black;
    font-size: 24px;
  }

  form {
    width: 256px;
    height: 100%;
    padding: 50px 0 0 0;
    margin: 0 auto 0 auto;
    position: relative;
  }

  label {
    float: left;
    display: block;
    width: 90px;
  }

  .email-element,
  .password-element {
    height: 44px;

    > div {
      @extend %clearfix;
    }

    input {
      float: left;
      display: block;
      outline: 0;
      border: none;
      border-bottom: 1px dashed $black;
      padding: 0;
    }

    .error {
      @include font-14;
      margin: 5px 0 0 90px;
    }
  }

  .password-element {
    margin-top: 1em;
  }

  .submit-element {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    display: block;
    width: 100%;
    height: 53px;

    input {
      -webkit-appearance: none;
      border: none;
      outline: none;
      text-transform: lowercase;
      color: $black;

      &:hover,
      &:focus {
        background-color: $green;
        color: $background-gray;
      }
    }

    .error {
      @include font-14;
      margin-top: 10px;
    }
  }
}

.login-veil {
  z-index: 6;
  display: block;
}

.info-more-info {
  position: fixed;
  bottom: 10px;
  z-index: 5;
  left: 50%;
  margin-left: -12px;
}
