AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CLOUDFRONT_HOSTNAME=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_DATABASE_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PRIVATE_KEY_ID=
FLASK_APP=application
FLASK_DEBUG=1
NODE_ENV=development
PYTHONUNBUFFERED=1
S3_HOSTNAME=
TRANSLOADIT_AUTH_KEY=
TRANSLOADIT_AUTH_SECRET=
TRANSLOADIT_TEMPLATE_ID=
