FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
NODE_ENV=development
TRANSLOADIT_AUTH_KEY=
TRANSLOADIT_AUTH_SECRET=
TRANSLOADIT_TEMPLATE_ID=
